*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

#cabecalho{
    display: flex;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    background-position: center;
}

#logo-menu{
    margin-top: 10px;
    padding: 8px;
    height: 64px;
    width: 100%;
    background-color: rgba(218, 165, 32, 0.525);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#logo{
    background-image: url(../images/logo.png);
    height: 100px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateX(-130px);
}

#menu{
    color: white;
    font-size: 2.5em;
    transform: translateX(110px);
}

.cabecalho-1{
    margin-top: 50%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.cabecalho-2{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.cabecalho-3{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

#destaque-1{
    text-align: center;
    font-size: 3em;
    color: white;
    font-weight: 900;
}

#destaque-2{
    text-align: center;
    font-size: 1.5em;
    width: 400px;
    color: white;
    font-weight: 500;
}

#button-1{
    height: 50px;
    width: 350px;
    background-color: goldenrod;
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 1em;
}

#button-1:hover{
    background-color: coral;
}

#button-2{
    background-color: transparent;
    margin-top: 20px;
    height: 50px;
    width: 350px;
    border-radius: 50px;
    border: 1px solid white;
    font-size: 1em;
    color: white;
    box-shadow: 1px 1px 1px white;
}

#button-2:hover{
    background-color: white;
    color: black;
}
